@page

<!DOCTYPE html>
<html>
    <head>
        <title>Steve</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 
        <link href="styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
        <script src="/signalr.min.js"></script>

    </head>
    <body>
        <div class="container" id="app">
            <div class="steve">
                <img src="steve.png" alt="It me! Steve!" data-bind="css: { talk: isTalking(), roll: roll() }" />
            </div>
            <div class="output" data-bind="template: { foreach: messages,
                            beforeRemove: messageRemoved,
                            afterAdd: messageAdded }">
                <div class="message" data-bind="text: $data"></div>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>